# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VisualStudio
*.VC.db
*.VC.db*
*.VC.opendb
*.ipch

# Debug Stuff
Debug/*
*/Debug/*
*.log
*.tlog

# Testing
packages/*


